@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Teko:wght@300;500&display=swap');

.container-fluid {
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.carousel-caption {
    position: absolute;
}

.recipe-type {
    text-shadow: darkgrey 0 0 2px;
    font-size: large;
}

.recipe-type:hover {
    text-decoration: underline;
    color: #fff;
    text-shadow: darkgrey 0 0 2px;
}

.btn-info {
    background-color: #E4291B;
    border: none;
    font-size: medium;
    padding: 15px 32px;
}

.btn-info:hover {
    background-color: #E4291B;
}

.carousel-recipe {
    margin-top: 10px;
    margin-bottom: 30px;
    text-shadow: darkgrey 0 0 2px;
}

.heading {
    margin-top: 30px;
    margin-bottom: 20px;
}

.recipes-grid {
    padding-top: 20px;
    padding-bottom: 30px;
}

.image-grid {
    width: 100%;
    height: 12vw;
    object-fit: cover;
    border-radius: 20px;
    padding-bottom: 10px;
}

.image-grid:hover {
    transform: scale(1.05);
    transition: all .2s linear;
}

.recipe-type-grid {
    font-size: small;
}

.recipe-name-grid {
    color: #30302F;
}

.recipe-name-grid:hover {
    color: #E4291B;
}

.footer {
    background-color: #30302F;
    padding-bottom: 5px;
    padding-top: 5px;
}

.footer-text {
    color: #fff;
}

.footer-text:hover {
    color: #E4291B;
}

hr {
    color: darkgrey;
}

.footer-widgets {
    padding-top: 20px;
    padding-bottom: 10px;
}

.bi {
    color: #fff;
}

.copyright {
    color: darkgrey;
    padding-top: 5px;
    padding-bottom: 5px;
}

.uppercase {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.breadcrumb-navigation {
    padding-top: 20px;
}

.breadcrumb-link {
    color: #30302F;
}

.breadcrumb-link:hover {
    color: #E4291B;
}

.bi-person-fill, .bi-clock-fill {
    color: #E4291B;
}

.text {
    color: #30302F;
}

.recipe-name {
    padding-bottom: 20px;
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.ingredient-container {
    padding-top: 10px;
}

ul.ingredient-list {
    margin: auto;
    padding: 0;
    list-style-position: inside;
    list-style-type: square;
}

.main-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.recipe-description {
    padding-top: 20px;
    font-size: large;
}

.ingredient-text, .instruction-text {
    font-size: large;
}

ol.instructions {
    padding: 0;
    list-style-position: inside;
}